<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tjs.co.in.groct" >

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/groct"
        android:label="@string/app_name"
        android:logo="@drawable/splash"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Vegetables"
            android:label="Vegetables"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".splahscreen"
            android:label="GrocT" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sign_in"
            android:label="hello" />
        <activity
            android:name=".Signin"
            android:label="@string/title_activity_signin"
            android:parentActivityName=".Sign_in" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.Sign_in" />
        </activity>
        <activity
            android:name=".Cart"
            android:label="@string/title_activity_cart"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".Myprofile"
            android:label="@string/title_activity_my_profile"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".My_wishlist"
            android:label="@string/title_activity_my_wishlist"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".Myorders"
            android:label="@string/title_activity_my_orders"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".About_us"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".Helpline"
            android:label="@string/title_activity_helpline"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".Address_info"
            android:label="@string/title_activity_address_info" />
        <activity
            android:name=".One"
            android:label="@string/title_activity_one"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Two"
            android:label="@string/title_activity_two"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".Three"
            android:label="@string/title_activity_three"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".Four"
            android:label="@string/title_activity_four"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".Payment_gateway"
            android:label="@string/title_activity_payment_gateway"
            android:parentActivityName=".Address_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.Address_info" />
        </activity>
        <activity
            android:name=".Beverages"
            android:label="@string/title_activity_beverages"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".Personalcare"
            android:label="@string/title_activity_personalcare"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".Household"
            android:label="@string/title_activity_household"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".Party_time"
            android:label="@string/title_activity_party_time"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".Love"
            android:label="@string/title_activity_love"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".Ufo"
            android:label="@string/title_activity_ufo"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".Destiny"
            android:label="@string/title_activity_destiny"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".Hurry"
            android:label="@string/title_activity_hurry"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
        <activity
            android:name=".Discount"
            android:label="@string/title_activity_discount"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tjs.co.in.groct.MainActivity" />
        </activity>
    </application>

</manifest>
